# 02 - Import

< [**Previous**: 01 - Introduction](01-Introduction.ipynb) | [**Next**: 03 - Tidy](03-Tidy.ipynb) >

In [1]:
import numpy as np
import pandas as pd

We have 4 data files to work with. Two are from NBC News, which contain tweets and profile information on verified Russian trolls. The other two are from *data.world* containing tweets and profile information on U.S. politicians, who we must assume are not Russian trolls.

In [2]:
# WARNING: This code may take over a minute to run depending on internet connection. 
# It takes 30 seconds on the 3rd floor of Kennedy Library on SecureMustangWireless.

date_cols = ['created_at']

pol_users = pd.read_csv('https://query.data.world/s/S_-EJJtSSyYdYg4Qdc4pjx66FSanaL',
                         sep=';',
                         parse_dates=date_cols,
                         infer_datetime_format=True,
                         encoding='utf-8')

pol_tweets = pd.read_csv('https://query.data.world/s/xrLAI3BN0yG7kmVs1l063pkreHLuBh', 
                         sep=';',
                         parse_dates=date_cols,
                         infer_datetime_format=True,
                         encoding='utf-8')

troll_tweets = pd.read_csv('/data/skhillon/troll_tweets.csv', 
                           parse_dates=date_cols, 
                           infer_datetime_format=True,
                           encoding='utf-8')

troll_users = pd.read_csv('/data/skhillon/troll_users.csv', 
                          parse_dates=date_cols, 
                          infer_datetime_format=True,
                          encoding='utf-8')

## Preview

Let's preview each of the DataFrames:

In [3]:
pol_users.head()

,id,screen_name,description,created_at,location,is_verified,latest_following_count,latest_followers_count,latest_status_count,array_agg
0,2962813893,RepStefanik,Official Twitter Account for Congresswoman Eli...,2015-01-05 22:17:51,NaN,t,246,9499,2082,"{congressperson,Republican,republican}"
1,1058256326,RepChrisCollins,Proud to represent New York’s 27th Congression...,2013-01-03 16:55:01,NaN,t,587,10874,2916,"{congressperson,Republican,republican}"
2,17494010,SenSchumer,Official account of Senator Chuck Schumer - Ne...,2008-11-19 20:10:20,"New York, NY",t,26578,522353,10076,"{senator,Democrat,democrat}"
3,2955485182,SenatorRounds,U.S. Senator for South Dakota,2015-01-01 20:23:49,"Pierre, South Dakota",t,542,11180,1622,"{senator,Republican,republican}"
4,339852137,SupJaniceHahn,Proudly representing the 4th District of Los A...,2011-07-21 19:22:22,"San Pedro, CA",t,1738,13050,4218,"{congressperson,Democrat}"

In [4]:
pol_tweets.head()

,id,user_id,created_at,tweet_text,hashtag_entities,url_entities,favorites_count,retweet_count,quoted_status_id,in_reply_to_status_id
0,488814426666315776,1061385474,2014-07-14 22:36:55,I enjoyed speaking with @actuary_dot_org about...,{CARECorps},{},3,3,NaN,NaN
1,834855385416757249,2970279814,2017-02-23 20:00:09,We are concerned &amp; actively seeking answer...,{},{http://bit.ly/2lzZl8M},23,12,NaN,NaN
2,659061646556557312,240812994,2015-10-27 17:38:35,"RT @NYCEDC: Thanks to @BPEricAdams, @CMMathieu...",{},{},0,6,NaN,NaN
3,501772450859061248,1321432124,2014-08-19 16:47:29,How @GovernorCorbett's $1 Billion in cuts to e...,"{PublicSchools,pagov}",{http://t.co/Juw6dKWBe2},4,10,NaN,NaN
4,781520572937363457,2963445730,2016-09-29 15:46:39,RT @GovExecEvents: ICYM @GerryConnolly &amp; @...,{FITARAForward},{},0,4,NaN,NaN

In [5]:
troll_users.head()

,id,location,name,followers_count,statuses_count,time_zone,verified,lang,screen_name,description,created_at,favourites_count,friends_count,listed_count
0,100345056.0,still ⬆️Block⤵️Corner⬇️street,#Ezekiel2517✨...,1053.0,31858.0,NaN,False,en,SCOTTGOHARD,CELEBRITY TRAINER ✨#424W147th✨ #CrossfitCoach ...,2009-12-29 23:15:22,2774.0,1055.0,35.0
1,247165706.0,"Chicago, IL",B E C K S T E R✨,650.0,6742.0,Mountain Time (US & Canada),False,en,Beckster319,Rebecca Lynn Hirschfeld Actress.Model.Writer.A...,2011-02-04 06:38:45,7273.0,896.0,30.0
2,249538861.0,NaN,Chris Osborne,44.0,843.0,NaN,False,en,skatewake1994,NaN,2011-02-09 07:38:44,227.0,154.0,1.0
3,449689677.0,NaN,Рамзан Кадыров,94773.0,10877.0,Moscow,False,ru,KadirovRussia,"Пародийный аккаунт. Озвучиваю то, что политика...",2011-12-29 11:31:09,0.0,7.0,691.0
4,471868887.0,"Санкт-Петербург, Россия",Маргарита Саваж,23305.0,18401.0,Volgograd,False,ru,MargoSavazh,Честь имею. Нагло врать не умею.,2012-01-23 10:26:25,1480.0,8021.0,231.0

In [6]:
troll_tweets.head()

,user_id,user_key,created_at,created_str,retweet_count,retweeted,favorite_count,text,tweet_id,source,hashtags,expanded_urls,posted,mentions,retweeted_status_id,in_reply_to_status_id
0,2.532612e+09,kathiemrr,1488207240000,2017-02-27 14:54:00,NaN,NaN,NaN,#ThingsDoneByMistake kissing auntie in the lips,8.362279e+17,NaN,"[""ThingsDoneByMistake""]",[],POSTED,[],NaN,NaN
1,2.531160e+09,traceyhappymom,1471272620000,2016-08-15 14:50:20,NaN,NaN,NaN,RT @mc_derpin: #TheOlderWeGet the more pessimi...,7.651989e+17,NaN,"[""TheOlderWeGet""]",[],POSTED,[],NaN,NaN
2,NaN,evewebster373,1435701369000,2015-06-30 21:56:09,NaN,NaN,NaN,RT @dmataconis: Ready To Feel Like A Failure? ...,6.160023e+17,NaN,[],[],POSTED,[],NaN,NaN
3,4.840552e+09,blacktolive,1474013088000,2016-09-16 08:04:48,18.0,False,17.0,Amen! #blacklivesmatter https://t.co/wGffaOqgzl,7.766933e+17,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...","[""Blacklivesmatter""]",[],POSTED,[],NaN,NaN
4,1.694026e+09,jacquelinisbest,1474227985000,2016-09-18 19:46:25,0.0,False,0.0,RT @NahBabyNah: Twitchy: Chuck Todd caught out...,7.775946e+17,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...","[""WakeUpAmerica""]","[""http://ln.is/twitchy.com/loriz-31/3yafU""]",POSTED,"[""nahbabynah""]",7.775915e+17,NaN

Now we must ensure that we have the amount of data we expect.

In [7]:
num_pol_tweets = 1_661_553
num_pol_users = 668

num_troll_tweets = 203_451
num_troll_users = 453

tweet_cols = ["user_id", "user_key", "created_at", "created_str",
              "retweet_count", "retweeted", "favorite_count", "text",
              "tweet_id", "source", "hashtags", "expanded_urls",
              "posted", "mentions", "retweeted_status_id", "in_reply_to_status_id"]

user_cols = ["id", "location", "name", "followers_count",
             "statuses_count", "time_zone", "verified", "lang",
             "screen_name", "description", "created_at", "favourites_count",
             "friends_count","listed_count"]

assert pol_tweets.shape == (num_pol_tweets, len(tweet_cols))
assert troll_tweets.shape == (num_troll_tweets, len(tweet_cols))

assert pol_users.shape == (num_pol_users, len(user_cols))
assert troll_users.shape == (num_troll_users, len(user_cols))

assert list(troll_tweets.columns) == tweet_cols
assert list(troll_users.columns) == user_cols

AssertionError:

**We do not! This failure is expected**; Twitter's API continuously goes through changes, and data retrieved 1 year ago may not exactly match data retrieved 1 month ago. Therefore, we need to investigate how to best make matching DataFrames fit.

## Matching Columns

### Tweet DataFrames

Let's compare the columns of `pol_tweets` and `troll_tweets`, both of which use the same Tweet API:

In [8]:
print(sorted(list(pol_tweets.columns)))
print()
print(sorted(list(troll_tweets.columns)))

['created_at', 'favorites_count', 'hashtag_entities', 'id', 'in_reply_to_status_id', 'quoted_status_id', 'retweet_count', 'tweet_text', 'url_entities', 'user_id']

['created_at', 'created_str', 'expanded_urls', 'favorite_count', 'hashtags', 'in_reply_to_status_id', 'mentions', 'posted', 'retweet_count', 'retweeted', 'retweeted_status_id', 'source', 'text', 'tweet_id', 'user_id', 'user_key']

We can see the following potential "conversions" for column names in `pol_tweets`:
- `id` -> `tweet_id`
- `tweet_text` -> `text`
- `hashtag_entities` -> `hashtags`
- `url_entities` -> `expanded_urls`
- `favorites_count` -> `favorite_count`

Also, we see that `troll_tweets` has two columns representing the timestamp. We choose `created_str` because it has a string-formatted timestamp to match `pol_tweets`.

We see that `user_key`, `created_str`, `retweeted`, `source`, `posted`, `mentions`, and `retweeted_status_id` are not in `pol_tweets`, whereas `quoted_status_id` is not in `troll_tweets`.

Let's rename the columns that we can preserve in `pol_tweets`:

In [9]:
pol_renaming = {'id': 'tweet_id', 'tweet_text': 'text', 'hashtag_entities': 'hashtags',
                'url_entities': 'expanded_urls', 'favorites_count': 'favorite_count'}

pol_tweets.rename(columns=pol_renaming, inplace=True)
pol_tweets.drop('quoted_status_id', axis=1, inplace=True)

In [10]:
troll_tweets.drop('created_at', axis=1, inplace=True)
troll_tweets.rename(columns={'created_str': 'created_at'}, inplace=True)

In [11]:
different_tweet_cols = ['user_key', 'retweeted', 'source', 'posted', 
                        'mentions', 'retweeted_status_id']

expected_tweet_cols = [e for e in tweet_cols 
                       if e not in different_tweet_cols 
                       and e != 'created_str']

assert sorted(pol_tweets.columns) == sorted(expected_tweet_cols)

Since we're going to merge `pol_tweets` with `troll_tweets`, we need to drop all differing columns:

In [12]:
troll_tweets.drop(columns=different_tweet_cols, axis=1, inplace=True)

In [13]:
assert sorted(troll_tweets.columns) == sorted(expected_tweet_cols)
assert sorted(pol_tweets.columns) == sorted(troll_tweets.columns)

### User DataFrames

We repeat the process for the user DataFrames, starting again by comparing columns:

In [14]:
print(sorted(list(pol_users.columns)))
print()
print(sorted(list(troll_users.columns)))

['array_agg', 'created_at', 'description', 'id', 'is_verified', 'latest_followers_count', 'latest_following_count', 'latest_status_count', 'location', 'screen_name']

['created_at', 'description', 'favourites_count', 'followers_count', 'friends_count', 'id', 'lang', 'listed_count', 'location', 'name', 'screen_name', 'statuses_count', 'time_zone', 'verified']

The first element, `array_agg`, is defined as an [array of human supplied tags for this user](https://data.world/bkey/politician-tweets). To avoid bias and to be able to use this model on any Twitter user, we cannot keep this element.

In [15]:
pol_users.drop('array_agg', axis=1, inplace=True)

In [16]:
print(sorted(list(pol_users.columns)))
print()
print(sorted(list(troll_users.columns)))

['created_at', 'description', 'id', 'is_verified', 'latest_followers_count', 'latest_following_count', 'latest_status_count', 'location', 'screen_name']

['created_at', 'description', 'favourites_count', 'followers_count', 'friends_count', 'id', 'lang', 'listed_count', 'location', 'name', 'screen_name', 'statuses_count', 'time_zone', 'verified']

The following columns represent the same data from `pol_users`:
- `is_verified` -> `verified`
- `latest_followers_count` -> `followers_count`
- `latest_status_count` -> `statuses_count`

`pol_users` contains `latest_following_count` which is not in `troll_users`. `troll_users` contains `favourites_count`, `friends_count`, `lang`, `listed_count`, `name`, and `time_zone` which are not in `pol_users`.

Let's rename the columns in `pol_users` to fit `troll_users`:

In [17]:
user_renaming = {'is_verified': 'verified', 'latest_followers_count': 'followers_count',
                 'latest_status_count': 'statuses_count'}

pol_users.rename(columns=user_renaming, inplace=True)
pol_users.drop('latest_following_count', axis=1, inplace=True)

In [18]:
diff_user_cols = ['favourites_count', 'friends_count', 'lang', 'listed_count', 'name', 'time_zone']

expected_user_cols = [e for e in user_cols if e not in diff_user_cols]

assert sorted(pol_users.columns) == sorted(expected_user_cols)

Since we're going to merge `pol_users` with `troll_users`, we need to drop all differing columns:

In [19]:
troll_users.drop(columns=diff_user_cols, axis=1, inplace=True)

In [20]:
assert sorted(troll_users.columns) == sorted(expected_user_cols)

## Adding Predictive Column

To help the predictive algorithm, we need to add a label to each data point. All the U.S. Politicians can be labeled as "not Russian Troll", and we label data from the other csv files as "Russian Troll". 

We add a column to each DataFrame called `is_troll`, setting an integer value of `1` for trolls and `0` for U.S. Politicians.

In [21]:
predictor = 'is_troll'

pol_tweets[predictor] = 0
pol_users[predictor] = 0

troll_tweets[predictor] = 1
troll_users[predictor] = 1

As stated in the Introductory notebook, the goal of this project is to be able to determine whether or not a user is a Russian troll based on the contents of their tweets. Therefore, we need to combine these 4 tables into 2: `tweets` and `users`.

In [22]:
tweets = pol_tweets.append(troll_tweets)
users = pol_users.append(troll_users)

In [23]:
tweet_cols.append(predictor)
user_cols.append(predictor)

expected_tweet_cols.append(predictor)
expected_user_cols.append(predictor)

assert tweets.shape == (num_pol_tweets + num_troll_tweets, len(expected_tweet_cols))
assert users.shape == (num_pol_users + num_troll_users, len(expected_user_cols))

assert sorted(list(tweets.columns)) == sorted(expected_tweet_cols) 
assert sorted(list(users.columns)) == sorted(expected_user_cols)

## Export

Finally, we write these combined DataFrames to disk as `csv` files. We name them `tweets.csv` and `users.csv`, respectively. We do not store indices and, to support the plethora of emojis that Tweets often contain, we encode as `utf-8`.

In [24]:
# This code takes ~20 seconds to run.

tweets.to_csv('/data/skhillon/tweets.csv', sep=',', index=False, encoding='utf-8')
users.to_csv('/data/skhillon/users.csv', sep=',', index=False, encoding='utf-8')

< [**Previous**: 01 - Introduction](01-Introduction.ipynb) | [**Next**: 03 - Tidy](03-Tidy.ipynb) >